.img-paypal{
    height: 50px;
    margin-top: 10px;
}
.img-bank{
    height: 47px;
    transform: translateY(0px);
    margin-top: 10px;
    padding: 3px;
}
.row .grand-total{
    background: #b64503;
    color: #fff;
    border-radius: 10px;
}
.request-sample.global-title{
    text-align: justify;
}
.global-title + .report-title{
    font-size: 1.5em;
    text-transform: uppercase;
}
.feature-block.global-block .row div{
    padding: 15px;
}
.global-details{
    margin-top: 3%;
}
.btn-shopping{
    float: left;
}
.btn-tab.btn-checkout,.btn-tab.btn-checkout:hover,.btn-tab.btn-checkout:focus{
    float: right;
    color: #eee;
    background: #090d2b;
}
.right,.total-right{
    float: right;    
}
.cart-block a.cart-report-title{
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
    color: #353444;
}
@media screen and (min-width:1200px) {
    .row .grand-total{
        font-size: 1.3em;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .info-block h4.email+p{
        overflow-x: scroll;
    }
}
@media screen and (min-width:767px) and (max-width:1200px) {
    .row .grand-total{
        font-size: 1em;
    }
}
@media screen and (min-width:992px){
    .form-group >.col-md-3> strong{
        float: right;
    }
}
@media screen and (min-width: 767px) and (max-width:992px){
    .right,.total-right{
        margin-top: -5%;
    }                
}
@media screen and (max-width:767px){
    .total-right{
        margin-top: -9%;
        font-size: 1.2em;
    }
    span.pull-right{
        margin-top: -20px;
    }
    h2.report-title{
        font-size: 1.2em;
        line-height: 30px;
    }
    .row .grand-total{
        padding: 15px;
    } 
}
@media screen and (min-width:767px){
    h2.report-title{
        font-size: 1.6em;
        line-height: 40px;
    }
    .row .grand-total{
        width: 85%;
        margin-left: 7.5%;
        padding: 10px;
        min-height: 45px;
    } 
    h3.report-heading{ 
        font-size: 2.5vw;
    }
}
.cart-block a{
    color:#090d2b;
    text-decoration: none;
}
.error{
    display: none;
    color:#999;
    font-size:12px;
}
select option{
    font-size: 1.2em;
}
.form-group div.help-block.with-errors  > ul.list-unstyled > li{
    font-size: 14px;
}
.content-block-shadow .panel-body .form-horizontal{
    padding: 10px;
}
.content-block-shadow .panel-body .form-horizontal .form-group{
    margin-bottom: 0px;
} 
h3.cart-title{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    font-weight: 700;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    border-width: 5px;
    border-bottom: 5px solid #ad9f97;
    border-top: 5px solid #8b8b8b;
    border-left: 5px solid #cebbbb;
    border-right: 5px solid #646262;
}
.price-quote{
    color: rgb(226, 11, 11);
    font-weight: 700;
    font-size: 1.15em;
}