/* .sliker__item img {
    height: 150px;
    width: 180px;
    border: 2px solid #1021a5;
    border-radius: 5px;
    padding: 3px;
} */
.sliker{
    margin-top: 3%;
    margin-bottom: 30px;
    width: 93%;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}
.sliker__window {    
    width: 100%;
}
.sliker__item p.sector-title{
    color: rgb(0, 0, 0, 0.8);
    height: 42px;
    font-size: 17px;
    padding: 3px;
}
.sliker__item p > a{
    color: rgb(0, 0, 0, 0.75);
    font-size: 14px;
    text-decoration: none;
    padding: 3px;
    line-height: 22px;
}
#slider_41 .sliker__item p{
    margin-top: 10px;
}
#slider_41 .sliker__item p > a{
    font-size: 16px;
    padding: 0px;
}
.sliker__item  p > a:hover{
    color: #000;
    font-weight: 500;
    cursor: pointer;
    font-weight: normal;
}
.sliker .sliker__bullets{
    /* bottom: -20px; */
    display: none;
}
.banner-block{
    color: #fff;
}
span.gold{
    color: orange;
}
h1.banner-title{
    color: #fff;
    /* font-size: 2.5vw; */
}
h1.banner-title span{
    color: #fff;
    padding: 6px;
}
h1.banner-title > big{
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(245, 182, 4);
    /* text-decoration: underline; */
}
.image-banner-block .container{
    background: rgb(0, 0, 0, 0.5);
}
a.press-title+p.calendar{
    font-size: 14px;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 700;
    margin-top: 5px;
}
a.press-title,a.report-title{
    font-size: 14px;    
    color:rgb(0, 0, 0, 0.65);
    text-decoration: none;
    line-height: inherit;
    font-weight: 550;
    transition: all 0.2s ease;
}
.col-press{
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
.press-line{
    margin-bottom: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #efefef;
    height: 2px;
    width: 50%;
    display: inline-block;
    transition: all 0.2s;
}
.col-press:hover > a.press-title{
    font-weight: 700;
    color: rgb(0,0,0);
}
.press-line::after {
    transition: all ease-in-out .5s;
    background: none repeat scroll 0 0 rgb(233, 97, 7);
    content: "";
    display: block;
    height: 3px;
    width: 0;
}
i.fa-calendar{
    margin-top: 15px;
}
.image-banner-block{
    overflow: hidden;
    background: url('../../assets/images/home-banner.jpg') center center repeat ;
    background-attachment: fixed;
}
.btn-block > a.btn-report{
    background: #087c91;
    color: #efefef;
    line-height: 24px;
    text-decoration: none;
    border: 2px solid rgb(233, 97, 7);
    transition: all 0.3s ease-in-out;
}
.btn-block > a.btn-report:hover{
    background-color: rgb(233, 97, 7);
    border: 2px solid #efefef;
    color: #efefef;
    font-weight: 700;
}
/* article h2{
    color:#fff;
    text-align: center;
    background: #1021a5;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 25px;
} */
.home-block{
    box-shadow: 1px 0px 4px 2px #ccc;
}
.report-heading.press-heading{
    margin-bottom: -10px;
}
.report-heading svg{
    font-size: 31px;
    color: rgb(233, 97, 7);
    font-weight: 700;
    transform: translateY(-15%);
    border: 2px solid rgb(233, 97, 7);
    border-radius: 25%;
    padding: 3.5px;
    height: 35px;
}

/****************** MEDIA RULES ********/

@media screen and (min-width:767px) and (max-width:992px){
    .info-block  .col-md-3{
        width: 30%;
        float: left;
        margin-bottom: 15px;
        padding: 10px;
        text-align: center;
        margin-top: 15%;
    }
    .info-block  .col-md-9{
        width: 70%;
        float: left;
        margin-bottom: 15px;
        padding: 10px;
        text-align: center;
    }
}
@media screen and (min-width:767px) and (max-width:830px){    
    .image-banner-block .container{
        margin-top: 19%;
    }
    .banner-title{        
        font-size: 2.8em;
    }
}
@media screen and (min-width:830px) and (max-width:992px){    
    .image-banner-block .container{
        margin-top: 14%;
    }
    .banner-title{        
        font-size: 3.3em;
    }
}
@media screen and (min-width:992px){
    .lg-hidden{
        display: none;
    }
    .image-banner-block .container{
        margin-top: 8%;
    }
    .banner-title{        
        font-size: 3.8em;
    }
}
@media screen and (min-width:767px){
    .banner-title{
        margin-top: 7%;
        margin-bottom: 4%;
        line-height: 1.8;
    }
    .image-banner-block{
        min-height: 600px;
    }
    #slider_4 .sliker__item{
        width: 230px;
        margin: 0px 29px 0px 50px;
    }
	#slider_41 .sliker__item {
		width: 250px;
		text-align: center;
		height: 185px;
		margin: 0px 10px 0px 20px;
		border: 1px solid rgb(0,0,0,0.4);
		padding: 12px;
		border-radius: 12px;
		box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 40%)
	}
    .sliker .sliker__arrow-right{
        right: -40px;
    }
    .sliker .sliker__arrow-left{
       left: -40px;
    } 
    .btn-block > a.btn-report{
        padding: 15px;
        border-radius: 50px;
    }
    .btn-block > a.btn-report >  span.fa{
        font-size: 1.5em;
        transform: translate(3px,3px);
    } 
    .home-block{
        margin: 2% 1%;
    }
    .home-display-block{
        margin: auto 1%;
    }   
    .home-display-block:hover{
        box-shadow: 1px 0px 8px 6px #ccc;
        cursor: pointer;
    } 
    .home-display-block .btn-block{
        margin-top: 5%;
        margin-left: 2%;
    }
    .img-category{
        height: 120px;
        width: auto;
    }
}
@media screen and (max-width:767px){     
    .report-heading svg{
        transform: translateY(5px);
    }
    .sliker .sliker__bullets, .sliker .sliker__pages{
        bottom: -35px;
    }
    .sliker .sliker__pages-wrap{
        padding: 7px;
        line-height: 2;
    }
    .sliker .sliker__item {
        width: 330px;
        text-align: center;
    }
    .sliker__item p > a{
        font-size: 14px;
    }
    .sliker__item p.sector-title{
        text-align: center;
        font-size: 16px;
    }
	.home-display-block .img-category{
		height: 190px;
        width: auto;
	}
	#slider_41 .sliker__item p a {
		font-size: 20px;
		line-height: 2;
	}   
    a.press-title{
        padding: 0px;
        line-height: 1.6;
    } 
    a.press-title+p.calendar{
        margin-top: 5%;
    }    
    .image-banner-block{
        min-height: 400px;
        width: 100%;
    }  
    .image-banner-block .container{
        margin-bottom: 3%;
    }   
    h1.banner-title span{
        margin-bottom: 10px;
    }
    .btn-block{
        transform: translateX(36%);
        margin-top: 20%;
        min-width: 175px;
        max-width: 225px;
    }
    #slider_41+.btn-block{
        margin-top: 0%;
    }
    .home-display-block .btn-block{
        margin-bottom: 10%;
    }
    .info-block{
        margin-bottom: 10%;
    }
    .btn-block > a.btn-report{
        padding: 8px;
        border-radius: 20px;
    }
    .btn-block > a.btn-report >  span.fa{
        font-size: 1.5em;
        transform: translate(3px,3px);
    } 
}
@media screen and (min-width:480px) and (max-width:767px){
    h1.banner-title{
        font-size: 2.5em;
        line-height: 1.6;
    }
    .image-banner-block .container{
        margin-top: 16%;
    }
}
@media screen  and (min-width:300px) and  (max-width:480px){
    h1.banner-title{
        font-size: 2em;
        line-height: 1.5;
    } 
    .image-banner-block .container{
        margin-top: 28%;
    } 
}
@media screen and  (max-width:300px){
    h1.banner-title{
        font-size: 17px;
        line-height: 30px;
    }
    .image-banner-block{
        height: 210px;
        width: 100%;
    } 
    .image-banner-block .container{
        margin-top: 45%;
    } 
}