body{
    /*font-family: "Open Sans", sans-serif;*/
    font-family: 'calibri';        
    background-color: #eee;
}
.page-banner{
    background-color: transparent;
}
.contact-heading{
    text-align: center;
    color: #d81010;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: system-ui;
}
/* label.control-label{
    font-size: 0.85em;
} */
button.btn-info{
    background:#002e5b;
    border:none;
    border-radius: 2px;
    color:#FFFFFF;
    font-size: 1.2em;
    min-height:45px;
    max-height: 65px;
    width:100%;
    margin-top: 20px;
}

@media screen and (max-width:767px){
    .contact-heading{
        font-size: 0.9em;
    }
    .text-banner-left {
        display: none;
    }
    h2.report-title{
        font-size: 1.2em;
        line-height: 1.6;
    }
    .panel-purchase h3{
        margin-top: 2%;
    }
    .rd-form{
        margin-top: 7%;
    }
    .btn-tab.btn-email{
        margin-bottom: 5%;
    }
    .col-md-12.rd-button{
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-tab,.btn-tab:focus,.btn-tab:hover{    
        font-size: 15px;
        text-transform: uppercase;
        height: 45px;
        font-weight: 900;
        width: 100%;
    }
    .report-tab-empty{
        border: 1px solid #ccc;
        border-radius: 15px;
    }
    .report-data ul li{
        padding:3px 9px;
    }
    li.price{
        float: none;
        font-size: 1.2em;
        font-weight: 700;
    }
    .btn-tab{
        margin: 8px 0px 0px 0px
    }
    .col-md-9   .col-sm-4  .col-sm-12,.col-md-9  .col-sm-8  .col-sm-12{
        width: auto;
        border-bottom: 1px dashed #6b680e;
        text-transform: capitalize;
        padding: 10px;
        font-size: 1em;        
    }
    .report-img{
        display: none;
    }
    #txtCaptcha{
        width: 45%;
    }
}
@media screen and (min-width:767px){
    .contact-heading{
        font-size: 1.1em;
        line-height: 2;
    }
    .text-banner-left {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0%, -35%);
        font-size:1.55em;
        color: #fff;
    }
    h1.contact-us{
        display: none;
    }
    h2.report-title{
        font-size: 1.3em;
        margin-top: 1%;
        line-height: 1.8;
    }
    h2.report-sm-title{
        font-size: 1.4em;
        margin-top: 6%;
        line-height: 1.8;
    }
    .content-block-shadow .form-horizontal{
        padding: 10px;
    }
    .btn-tab,.btn-tab:focus,.btn-tab:hover{    
        font-size: 13px;
        height:40px;
        width:165px;
        font-weight: 600;
    }
    .report-tab-empty{
        border : 2px solid #d81010;
        border-radius: 15px;
    }
    .report-sm-title{
        /* margin-left: 12%; */
        margin-bottom: 4%;
    }   
    .col-md-9  .col-sm-4 ,.col-md-9  .col-sm-8 {
        text-transform: capitalize;        
    }
    .col-md-9 > .col-sm-4:nth-child(2),.col-md-9 > .col-sm-8:nth-child(2){
        border-right: 0px;
    }
    .col-md-9  .col-sm-4:last-child,.col-md-9  .col-sm-8:last-child{
        margin-top: 7px;        
    }
    .report-data ul li{
        padding:3px 12px;
    }
    li.price{
        float: right;
    }
    .btn-tab{
        margin: 10px 0px;
    }
    #txtCaptcha{
        width: 35%;
    }
    .col-4 {
        border: 1px dashed #000;
        position: absolute;
    }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .col-feature{
        width: 47%;
        float: left;
    }
    .btn-tab{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-4 {
        right: 18%;
        top: 5%;
        width: 38%;
    }
    .smx-hidden{
        display: none;
    }
}
@media screen and (min-width : 992px) and (max-width: 1200px) {
    .col-4 {
        right: 7%;
        top: 5%;
    }
}
@media screen and (min-width : 992px) {    
    .report-tab-empty{
        height: 80px;
    }
    .mdx-hidden{
        display: none;
    }
}
@media screen and (min-width: 1200px) {    
    .rd-block .row:hover{        
        box-shadow: 1px 0px 6px 5px rgb(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .col-4 {
        right: 7%;
        top: 4%;
    }
}
.feature-block .row:hover{        
    box-shadow: 1px 0px 6px 5px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
.feature-block .row,.rd-block .row.rd-row{ 
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 0;
}
.license-block{           
    box-shadow: 1px 0px 6px 5px rgb(0, 0, 0, 0.5);
    margin-top: 0.7%;
}
.rd-block .row.rd-row{ 
    margin-top: 5px;
    /* margin-left: 5px; */
}
.report-details p{
    text-align: left;
    line-height: 1.6;
}
.report-details p a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
}
.report-details strong{
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}
h2.request-sample{
    text-align: center;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px #eee;
}
h2.report-title{
    color: #000;
    font-weight: 600;
}
h2.report-sm-title{
    text-transform: uppercase;
}
div.help-block.with-errors  > ul.list-unstyled > li{
    font-size: 14px;
}
.content-block-shadow{
    background-color: #efefef;
}
.content-block-shadow .form-horizontal .form-group{
    margin-bottom: 0px;
}
.form-horizontal.request-form .control-label{
    margin-bottom: 10px;
}
.col-md-9   .col-sm-4 > .col-sm-12,.col-md-9  .col-sm-8 > .col-sm-12{
    padding: 5px;
}
.tab-content > div{
    padding: 15px;
    font-size: 1.1em;
    line-height: 35px;
    /* background-color: rgb(0,0,0,0.1); */
}
.nav-tabs.nav-justified > li >a,.nav-tabs.nav-justified > li >a:hover{
    border-radius: 5px;
    margin: 2px 2px;
    /* background: #ddd; */
    color: #b64503;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    border : 1px solid #b64503;
} 
.nav-tabs.nav-justified > li.active >a{
    background: #b64503;
    padding: 15px;
    border-bottom-right-radius: 2px;
    color: #fff;
    border-radius: 5px;
}
.tab-pane{
    border: 2px solid #b64503;
    border-radius: 10px;
}
.tab-empty{
    border : 2px solid #d81010;
} 
/********* BUTTONS ********/
#discountEmailSuccess{
    color: green;
    font-size: 1em;
    padding: 5px;
}
#discountEmailError{
    color: #f00;
    font-size: 1em;    
    padding: 5px;
}
.btn-scroll{
    border-radius: 0px;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: #fff;
    transition: background-color 0.2s ease-in;
    padding: 7px;    
    border:1px solid #7d4497;
    background: #7d4497;
    text-transform: uppercase;
}
.btn-dismiss{
    background: #d66b10;
}
.modal-title{    
    font-weight: 700;
    color: #1e6f98;
}
.btn-tab,.btn-tab:focus,.btn-tab:hover{
    border-radius: 6px;
    text-align: center;
    color: #efefef;
    transition: background-color 0.2s ease-in;
    padding: 10px;    
    border:1px solid #b64503;
    background: #ce5a16;
    /* margin-bottom: 5%; */
}
.btn-email,.btn-email:hover,.btn-email:focus{
    border:1px solid #02919b;
    background: #02919b;
    max-width: 250px;
}
.btn-customize,.btn-customize:hover,.btn-customize:focus{
    border:1px solid #26a506;
    background:  #26a506;
    margin-bottom: 10px;
}
.btn-discount,.btn-discount:hover,.btn-discount:focus{
    border:1px solid #572a05;
    background: #572a05;
    margin-bottom: 10px;
}
.btn-purchase,.btn-purchase:hover,.btn-purchase:focus{
    border:1px solid  #090d2b;
    background:  #090d2b;
    padding: 10px;
    height: 40px;
    max-width: 250px;
}

.btn-buynow,.btn-buynow:hover,.btn-buynow:focus{
    border:1px solid #b64503;
    background:  #b64503;
    margin-bottom: 10px;
    color: #f9f9f9;
    min-width: 250px;
}
.panel-purchase{
    margin-bottom: 20px;
    border-color: #1e6f98;
}
.panel-purchase h3{
    text-align: center;
    font-size: 1.15em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    font-weight: 700;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    border-width: 5px;
    border-bottom: 5px solid #6d2902;
    border-top: 5px solid #d85508;
}
.question-block,.custom-research{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
.question-block h3,.custom-research p,.btn-email{
    padding: 10px;    
}
.custom-research p{
    font-size: 16px;
}
.testimonial-block{
    margin:20px 0px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: transparent;
}
.slideshow-container q{
    font-size: 0.9em;
    line-height: 1.8;
}

/* Slides */
.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next,.prev:hover,.next:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    /* height: 32px; */
    margin-top: -20px;
    background-color: #ddd;
    padding: 15px;
    color: #834f24;
    border: 1px solid #834f24;
    font-size: 14px;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}
.testimonial-block > h5,.question-block h5,.custom-research h5{
    font-size: 1.3em;
    color: rgb(0 0 0 / 95%);
    padding: 10px;
    font-weight: 700;
    background: rgb(0,0,0,0.3);
    text-transform: uppercase;
    text-shadow: 1px 1.5px #f2f2f2
}
blockquote > span{
    display: none;
}
.author {
    color: #000;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.report-data{
    font-size: 1.2em;
    line-height: 20px;
}
.rep-block .col-md-2,.rep-block .col-md-9{
    padding: 15px;
}
.rep-block-container{
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}
.rep-block-container:hover{
    background: #efefef;
}
.report-data > p > a{
    text-decoration: none;
    cursor: pointer;
    color:#000;    
    font-size: 1.1em;
}
.report-data ul li{
    display: inline-block;
    border-right: 1px solid gold;
    font-weight: 200;
    margin: 10px 0px;
}
.nav-tabs li a{    
    text-transform: uppercase;
    font-size: 1.1em;
}
li.price{
    color: #f00;
}
hr.hr-line{
    border: 0px;
    border-bottom: 1px dashed rgb(0, 0, 0, 0.4);
}
.badge-new{
    background: darkblue;
    color: #fff;
    animation: rotateBadge 1s alternate ease infinite;
}
.fa.fa-percent{    
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 2px
}
@keyframes rotateBadge{
    from{
        transform: skew(0deg,0deg);
    }
    to{
        transform: skew(-40deg,40deg);
    }
}
a.related-report-title{
    font-size:0.9em;    
    color:#000;
    text-decoration: none;
    line-height: normal;
    text-align: left;
}
a.related-report-title:hover{
    color:darkblue;
}
.scroll-block{
    background: #efefef;
    margin: 10px 0px;
}
.scroll-block > marquee{
    padding: 5px;
    color: #1e6f98;
    font-weight: 700;
    font-size: 1.15em;
    text-transform: uppercase;
    cursor: pointer;
}
.why-us-block h3{
    text-transform: uppercase;
    font-weight: 650;
    font-size: 1.1em;
    padding: 10px;
    background: rgb(0, 0, 0, 0.1);
    text-align: center;
    color: #ce5a16;
    margin-top: -2px;
}
.why-us-block ul li{
    padding: 3px;
    font-weight: 600;
    line-height: 2;
    color: rgb(0, 0, 0, 0.8);
    font-size: 13px;
}
.related-reports ul{
    padding-left: 25px;
    height: 350px;
    overflow-y: scroll;
}
.related-reports ul li{
    list-style-type: circle;
}
.related-reports ul li a{
    color: rgb(0,0,0,0.7);
    font-size: 13px;
    text-decoration: none;
}
.related-reports ul li a:hover,.related-reports ul li a:focus{
    color: #f35b02;
}
.panel-info > .list-group{
    box-shadow: 1px 1px 1px 1px #ccc;
}
li.list-group-item{
    list-style-type: none;
    border:0px;
    background: transparent;
    /*margin-bottom: -15px;*/
    border-radius: 0px;
    font-weight: 700;
    font-size: 1em;
    text-transform: capitalize;
}
li.list-group-item.active{
    border:1px solid #efefef;
    color: #fff;
    cursor: pointer;
}

/************************  CUSTOM RADIO  ***************************/

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  /*position: absolute;*/
  opacity: 0;
  cursor: pointer;;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #e68046;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #ce5a16;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.col-md-4 > span.display{
    margin-top: 1px;
}
span.display {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: #f00;    
}
@media screen and (min-width: 767px){
    .col-4{
        border: 1px dashed #000;
        margin: 15px 0px 0px -10px;
    }
    .md-hidden{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .col-4{
        margin-bottom: 20px;
        border: 1px dashed #000;
        width: 90%;
        margin-left: 18px;
        /*margin: 18px 0px 18px -15px;*/
    }
    li.list-group-item{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .sm-hidden{
        display: none;
    }
}
span.currency{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #f00;    
}