body{
    /*font-family: "Open Sans", sans-serif;*/
    font-family: 'calibri';        
    background-color: #eee;
}
.row{
    margin: 0px;
}

/************* HEADER *****************/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(233, 97, 7);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-content li,.overlay-content li.dropdown {
    list-style-type: none;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: -webkit-box;
    float: left;
    width: 100%;
    transition: 0.3s;
}
.overlay a img {
   display: none;
}
.overlay-content .dropdown-menu{
    position: relative;
    background: transparent;
    width: 95%;
    margin-bottom: 5%;

}
.overlay-content .dropdown-menu > li > a,.overlay-content .dropdown-menu > li > a:hover,.overlay-content .dropdown-menu > li > a:focus {
    font-size: 15px;
    color: #fff;
    text-align: left;
    padding: 15px;
    background: transparent;
}
.overlay-content .dropdown-menu > li:hover {
    background: transparent;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 60px;
}
.open-nav-btn{
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
    float: right;
    padding: 6px;
    transform: translateY(15px);
}
@media screen and (min-width:767px) {
    .open-nav-btn{
        display: none;
    }
}
@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/****************************** BACK TO TOP  **********************************/

#back-top {
    position: fixed;
    right: 0;
    z-index: 999;
    bottom: 0;
}
#back-top a {
    width: 40px;
    display: block;
    text-align: center;
    font: 11px/100% "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(233, 97, 7);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}
#back-top a:hover, #back-top a:focus {
    color: rgb(238, 133, 63);
}

/* arrow icon (span tag) */
#back-top span {
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 5px;
    /*background: #e6e015;*/
    font-size:25px;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    padding: 4px;
}
.footer{
    background-color: rgb(0,0,0,0.6);
}

/*******************************        ***************************************/
div.breadcrumb-div{
    background: rgb(0,0,0,0.1);
    margin-top: 3px;
    padding: 0px;
}
ul.breadcrumb{
    background: #ddd;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 0px;
}
ul.breadcrumb li a,ul.breadcrumb li{
    color: rgb(0,0,0,0.9);
    text-decoration: none;
    font-size: 1.15em;
    padding: 5px;
    font-weight: 550;
}
ul.breadcrumb li a:hover,ul.breadcrumb li a:focus{
    color: rgb(233, 97, 7);
}
ul.breadcrumb li a.breadcrumb-home{
    font-size:25px;
    margin-right: -5px;
    color: rgb(233, 97, 7);
}
ul.breadcrumb li a{
    font-size: 1.1em;
}
.breadcrumb>li+li:before {
    content: ">> ";
    color: rgb(0,0,0,0.45);
    font-size: 12px;
    font-weight: 900;
}
.pagination>li>a,.pagination li.active a,.pagination>li>a:hover,.pagination>li>a.active,.pagination>li>a:focus, .pagination>li>span{
    margin-left: 6px;
    color: #0f1113;
    border-color: #000;
}
ul.pagination li.active a,ul.pagination li.active a:hover,ul.pagination li:hover a{
    background: rgb(233, 97, 7);
    border-color: rgb(233, 97, 7);
    color: #f9f9f9;
}
ul.pagination li:first-child a{
    /* color: #1e6f98; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
ul.pagination li:last-child a{
    /* color: #1e6f98; */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.page-banner{
    background-color: #ddd;
}
.page-banner img{
    margin-top: 2%;
    width: auto;
    height: 150px;
}
.page-banner h2{
    margin-top: 0;
}
.page-banner h1{
    color: rgb(233, 97, 7);
    font-weight: 700;
    text-transform: uppercase;
}
.btn-captcha{
    background: #fd883a;
    color: #fff;
}
.info-block-row a.btn-report{
    background: #0465ac;
    padding: 6px;
    color: #fff;
    text-decoration: none;
}
.glyphicon-shopping-cart{
    color:rgb(242, 240, 236);
    font-size: 1.6em;
}
.currency{
    color: #fff;
    font-size: 1.2em;
    transform: translateY(-4px);
}
.navbar-form .form-control{
    height: 35px;
    border-radius: 0px;
}
.content-block-shadow .form-control,.content-block-shadow select.form-control,.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
    border: 1px solid rgb(0,0,0,0.5);
    background-color: #f8f8f8;
    /* border-radius: 0px; */
}
span.star{
    color: #f00;
}    
p.form-text{
    text-align: center;
    color: #f00;
    font-weight: 700;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #000;
    font-weight: 650;
}
label.control-label,.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{
    color: rgb(0,0,0,0.7);
    font-weight: 500;
}
input#security_code{
    height:34px;
    width:55%;
}
input#txtCaptcha{
    font-weight: 700;
    font-size: 1.15em;
}
.input-group-btn .btn-captcha{
    border:none;
    height:34px;
    float: left;
}
.btn-navbar{
    height: 45px;
    width: 50px;
    background: transparent;
    border: none;
}
.btn-navbar .fa{
    font-size: 1.5em;
}
.btn-navbar.btn-search{
    height: auto;
    width: 40%;
    padding: 7px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 0px;
    transform: translate(8px,22px);
}
.btn-navbar.btn-search > .fa-search{
    transform: translate(5px,3px);
    color: rgb(0,0,0,0.7);
}
.navbar-default .navbar-nav > li > a.word-normal{
    word-wrap: normal;
}
.navbar{
    width: 100%;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #f7f7f7;
}
ul.navbar-header-group{
    margin-left: 26%;
    display: inline-block;
}
ul.navbar-header-group li{
    display: inline-table;
    float: left;
    width: 70px;
}
ul.navbar-header-group > li > a{
    color:  #2a6598;
    font-size:2em;
    padding: 5px;
    margin-left: 15px;
}
.navbar-default {
    background: #fff;
}

/***************   MEDIA RULES       *******************/

@media screen and (max-width:767px){
    .top-div{
        display: none;
    }
    .navbar-nav .open .dropdown-menu{
        background: #2880ac;
    }
    .col-4-contact{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav li.nav-link-cart{
        display: none;
    }
    .navbar-form{
        border-top: 0px;
        border-bottom: 0px;
        width: 100%;
        margin: 0px 3px 0px 1px;
    }
    .top-nav-block,.sm-hidden,.nav li.sm-hidden{
        display: none;
    }
    .navbar-header{
        background: transparent;
    }
    ul.breadcrumb{
        margin-top: 7%;
    }
    #nav_header{
        height: 62px;
    }
    #back-top a{
        color: rgb(231, 195, 20);
    }
    .logo{
        height: 88px;
        transform: translateY(-14px);
    }
    .navbar-header-group li{
        transform: translate(0px, -35px);
    }
    .navbar-default{
        height: 90px;
        z-index: 9999;
    }    
    .navbar-default .navbar-toggle{
        border: 0px;
        display: inline-block;
    }
    .navbar-default .navbar-toggle:hover{
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #000;
        height: 6px;
        width: 35px;
    }
    .navbar-default .navbar-nav > li > a.active{
        color: #e8860b;
        font-weight: 700;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 1.2em;
        color: #ccc;
        font-weight: 700;
        border-bottom: 0.2px solid #090d2b;
        padding: 20px;
        letter-spacing: 0.2px;
    }
    .navbar-default .navbar-collapse{
        background-color: #090d2b;
    }
    .footer-menu .footer-menu-list{
        margin-top: 10%;
    }
    .report-details-block hr{
        margin: 3px 0px;
    }
    .rep-title{
        margin-top: 5%;
    }
    .bootstrap-select > .dropdown-menu.open{
        max-width: 300px;
        top: 0;
    }
    .navbar-nav > li > .dropdown-menu > li {
        float: left;
    }
    .navbar-nav > li > .dropdown-menu > li > a > img{
        width: 60px;
        margin-right: 20px;
    }
    .navbar-nav > li> .dropdown-menu.categories > li > a > img{        
        margin-right: 10px;
        margin-left: -7px;
    }
    .overlay-content .dropdown-menu.contact > li > a h2{
        font-size: 1em;
        display: inline-flex;
        margin-right: 12px;
        transform: translateY(10px);
    }
    .navbar-brand+.md-hidden{
        display: contents;
    }
    input#txtCaptcha{
        width: 45%;
    } 
    .pagination>li>a,.pagination li.active a,.pagination>li>a:hover,.pagination>li>a.active,.pagination>li>a:focus, .pagination>li>span{
        padding: 6px 10px;
        margin: 2px 1px;
    }
    h4.pull-right{
        font-weight: 600;
        font-size: 16px;
        margin-top: -25px;
    }
    .col-pagination .pagination{
        margin-bottom: 0px;
    }
    .col-pagination{
        text-align: center;
    }
    h4.count{
        float: left;
        margin-bottom: 10%;
        font-size: 16px;
    }
    .search-div .input-group {
        position: relative;
        display: inline-table;
        border-collapse: separate;
        background-color: #ccc;
    }
    .search-div .input-group .form-control{
        height: 50px;
        width: 95%;
        font-size: 14px;
        transform: translate(8px,10px);
    }
    .input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus{
        height: 50px;        
        transform: translate(-4px,-2px);
    }
    .btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        height: 50px;
        width: 32px;
        transform: translate(-3px,-2px);
        border-radius: 0px 15px 15px 0px;
    }    
    .btn-search span,.btn-navbar-close span{
        font-size: 12px;
        font-weight: 650;
        margin-left: -4px;
    }
    .nav-form .input-group {
        top: 0;
        display: inline-table;
        transform: translateY(-109px);
        z-index: 9999;
        height: 90px;
    }
    .home-search-div .nav-form .input-group{
        transform: translateY(0);
    }
    .info-block-row .cr-block{
        margin-top: 12%;
    }
    .btn-filter.accordion{
        margin-bottom: 0px;
    }
    .panel-info.panel-accordion{
        overflow: scroll;
    }
    .no-data .alert.alert-info h3{
        font-size: 1.4em;
        line-height: 2;
    }
}
@media screen and (min-width:890px) and (max-width:992px){
    /* .navbar-default{
        height: 90px;
    } */
    .navbar-default .navbar-nav > li > a{
        text-transform: uppercase;
    }
    .navbar-nav{
        display: contents;
    }
    .logo{
        height:87px;
        transform: translateY(-14px);
    }
    /* .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 26%;
        height: 556px;
        transform: translateX(-552px);
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 30%;
        height: 170px;
        transform: translateX(-174px);
    } */
    .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 7%;
        height: 530px;
        transform: translateX(-400px)
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 8%;
        height: 145px;
        transform: translateX(-46px);
    }
}
@media screen and (min-width:813px) and (max-width:890px){   
    .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 8%;
        transform: translateX(-263px);
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 9%;
        transform: translateX(-79px);
    }
}
/* @media screen and (min-width:890px) and (max-width:992px) {    
    .nav-form .input-group{    
        margin-top: -10%;
    }
} */
@media screen and (min-width:767px) and (max-width:992px){
    .smx-hidden{
        display: none;
    }
    /* .nav-form .input-group{ 
        transform: translateY(-90px);
    } */
    .dropdown-menu.categories.row li.col-md-12{
        width: 30%;
        float: left;
    }
    .dropdown-menu.categories.row li.col-md-12:last-child{
        width: 100%;
    }
    .col-career{
        width: 70%;
        margin-left: 3%;
    }
    .col-career form{
        width: 80%;
        margin-left: 10%;
    }
    .category-container > .col-md-3 {
        width: 50%;
        float: left;
    }
    .category-text {
        left: 12%;
    }
    .footer-menu-list h4{
        text-align: left;
    } 
    .navbar-default .navbar-nav > li > a{
        font-size: 1em;
    }
    .navbar-nav li {
        margin-top: 15px;
    }
    .dropdown-menu > li > a{    
        font-size: 1em;
        padding: 5px;
        transition: all 0.1s ease-in-out;
    }
    .dropdown-menu > li > a:hover{
        color: #000;
        border:none;
        background: none;
    }
    .image-banner-block{
        height: 620px;
    }
    .col-contact{
        width: 50%;
        float: left;
    }
    ul.categories li.col-md-12{
        margin-top: 68%;
        padding: 5px;
    }
    .navbar-nav > li> .dropdown-menu{
        width: 730px;
    }    
    .info-block-row .cr-block{
        margin-top: 8%;
    }
    .category-text h1{
        margin-top: 38%;
    }
    /* .nav-form .input-group{ 
        height: 90px;
    } */
    .input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus,.btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        height: 40px;
        font-size: 10px;
    }
    .nav-form .form-control{
        width: 85%;
    }
    ul.top-nav li.pull-right{
        margin-bottom: 1%;
    }
    ul.top-nav li.pull-right:last-child{
        margin-right: 13%;
    }
    ul.top-nav .navbar-brand{
        margin-left: 12%;
    }
    .collapse .navbar-collapse{
        margin-left: -3%;
    }
    /* .navbar-nav li{
        margin-left: 1.5%;
    } */
}
@media screen and (min-width:767px) and (max-width:830px){  
    /* .navbar-nav{
        margin-top: -5.8%;
    }   */
    .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 9%;
        transform: translateX(-263px);
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 11%;
        transform: translateX(-79px);
    }
}
@media screen and (min-width:767px) and (max-width:890px){
    /* .navbar-default{
        height: 90px;
    } */
    .navbar-default .navbar-nav > li > a{
        text-transform: capitalize;
    }
    ul.navbar-nav > li.mdx-hidden{
        display: none;
    } 
    .navbar-nav{
        display: contents;
    }
    .logo{
        height:86px;
        transform: translateY(-7px);
    }
    .navbar-nav > li> .dropdown-menu.categories{
        height: 556px;
    }
    .navbar-nav > li> .dropdown-menu.contact{
        height: 145px;
        width: 525px;
    }
}
@media screen and (min-width: 992px) and (max-width:1024px){
    .navbar-nav{
        margin-left: 3%;
    }
}
@media screen and (min-width: 1024px) and (max-width:1200px){
    .navbar-nav{
        margin-left: 5%;
    }
}
@media screen and (min-width:992px) and (max-width: 1200px){ 
    .navbar-nav{    
        float: left;    
        /* margin-top: 15px; */
        /* margin-left: 15%; */
    }
    ul.top-nav .navbar-brand{
        margin-left: 15%;
    }
    ul.top-nav li.pull-right{
        margin-top: 2.5%;
    }
    /* .navbar-nav li{
        margin-left: 1.5%;
    } */
    .nav-form .form-control{ 
        width: 95%;
    }
    /* .input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus,.btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        margin-top: -4px;
    } */
    .category-text h1{
        margin-top: 25%;
    }
    button.btn-clear{
        margin-top: 10%;
    }
    /* .navbar-default{
        height: 100px;
    } */
    .logo{
        height:95px;
        transform: translateY(-7px);
    }
    .navbar-nav > li> .dropdown-menu.categories{
        width: 930px;
    }
    .navbar-nav > li> .dropdown-menu.contact{
        width: 680px;
    }
    .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 6%;
        height: 548px;
        transform: translateX(-460px);
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 7%;
        height: 143px;
        transform: translateX(-80px);
    }
}
@media screen and (min-width:992px){
    .career-info-block h4{
        margin-top: 15%;
    }
    .mdx-hidden{
        display: none;
    }
    .navbar-nav > li > .dropdown-menu > li > a > img{
        margin-bottom: 5%;
        height: 60px;
        width: auto;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 1.1em;
        text-transform: uppercase;
    }
    .dropdown-menu > li > a{    
        font-size: 1em;
        padding: 10px;
        transition: all 0.1s ease-in-out;
    }
    .dropdown-menu > li > a:hover{
        color: #000;
        border:none;
        background: none;
        font-weight: 700;
    }
    .info-block .col-md-3{
        border-right: 5px solid #df7824;
    }
    .info-block  .info-block-row{
        margin-top: 1%;
        /* margin-bottom: 0.5%; */
    }
    .info-block .info-block-row.home-info-block{
        margin-top: 1.8%;
    }
    .info-block  .col-6-info{
        margin-top: 0.5%;
    }
    .input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus,.btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        height: 40px;
        font-size: 10px;
    }    
    /* .nav-form .input-group{ 
        margin-top: 37px;
    } */
}
@media screen and (min-width:767px){ 
    .sticky {
        position: -webkit-sticky; /* SAFARI */
        position: -moz-sticky; /* MOZILLA */
        position: -o-sticky; /* OPERA */
        position: -ms-sticky; /* IE */
        position: sticky;
        top: 0px;
    }
    input#txtCaptcha{
        width: 45%;
    }
    .pagination>li>a,.pagination li.active a,.pagination>li>a:hover,.pagination>li>a.active,.pagination>li>a:focus, .pagination>li>span{
        padding: 6px 12px;
    }
    .navbar{
        margin-bottom: 0px;
    }
    .report-details-block{
        height: auto;
    }
    .footer-menu-list > ul > li >a.active{
        color: #090d2b;
        font-weight: 700;
    }
    ul.navbar-header-group li{
        margin-top: -15px;
        margin-left: 5px;
    }
    .navbar-nav li{
        color:#454748;
        font-size: 1.05em;
        margin-top: 0.5%;
    }
    .navbar-nav li:last-child{
        margin-top: 0%;
    }
    .navbar-default {
        background-color: #e96d07;
        border-color: transparent;
    }
    .navbar-default .navbar-nav > li > a{
        color: #efefef;
        line-height: 13px;
    }
    .navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
        color: #fff;
    }
    .navbar-default .navbar-nav > li > a.active{
        color: #000;
        font-weight: 650;
    }
    .md-hidden,.navbar-brand+.md-hidden{
        display: none;
    }
    .navbar-nav > li > .dropdown-menu > li > a > img{
        margin-bottom: 5%;
        height: 60px;
        width: auto;
    }
    .report-block .col-md-2,.report-block .col-md-10{
        padding: 15px;
    }
    .report-block-container{
        border-bottom: 1px solid #efefef;
    }
    .report-block-container:hover{
        background: #fff;
        cursor: pointer;
    }
    ul.categories{
        background-color: #f8f8f8;
    }
    ul.categories li.col-md-12{
        border-top: 1px dashed rgb(0,0,0,0.2);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-nav > li> .dropdown-menu.categories > li.col-md-3{
        width: 32%;
        float: left;
    }
    .navbar-nav > li> .dropdown-menu.contact > li.col-md-3{
        width: 43%;
        margin-top: -0.1%;
        float: left;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .content-block-shadow {
        border:1px solid rgb(0,0,0,0.2);
        /*box-shadow: 5px 0px 5px 0px #eee;*/
        box-shadow: 1px 0px 8px 6px rgb(0,0,0,0.2);
        margin-bottom: 5%;
        border-radius: 5px;
    }
    .content-block-shadow .panel-body{
        padding: 15px;
    }
    #emailError,#emailSuccess{
        margin-left: 40%;       
    }
    #back-top{
        bottom: 55px;
    }
    .dropdown.open .dropdown-menu {
        display: block;
        z-index: 99999;
    }
    /* .rep-title{
        margin-top: 10%;
    } */
    #emailError,#emailSuccess{
        margin-left: 10%;
        padding: 5px;
        text-align: center;
    }
    .footer-fixed-block  button{
        float: right;
    }
    #back-top{
        bottom: 62px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: rgb(0,0,0,0.86);
        /* font-size: 0.9em; */
        padding: 10px;
    }
    .nav-form .input-group{    
        top: 0;
        display: inline-table;
        z-index: 9999;
    }
    .navbar-form .form-control{
        width: 150px;
    }
    .nav-form  .form-control{
        height: 40px;
        font-size: 1em;
    }
    .btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        background: none;
    }
    .btn-search span,.btn-navbar-close span{
        font-size: 1em;
    }
    .input-group {
        position: relative;
    }
    .search-div .input-group {
        position: absolute;
    }
    .nav-form .input-group-btn{
        float: left;
        margin-top: 3%;
    }
    /* .input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus{
        transform: translateX(-115px);
    } */
    .btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        transform: translateX(-114px); 
    }
    .btn-search span,.btn-navbar-close span{
        font-size: 1.6em;
    }
    .info-block-row:hover{
        box-shadow: 1px 0px 8px 6px #ccc;
        cursor: pointer;
    }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {    
    .home-search-div .form-control{
        margin-left: 5.2%;
    }
}
@media screen and (min-width:1200px){
    /* .navbar-default{
        height: 95px;
    } */
    .navbar-nav li{
        margin-left: 1%;
    }
    .category-text h1{
        margin-top: 22%;
    }
    .home-search-div .form-control{
        margin-left: 8.16%;
    }
    .navbar-nav{
        width: 90%;
    }
    /* .nav-form .input-group{    
        height: 35px;
    } */
    .logo{
        height:93.5px;
        transform: translate(-10px, -15px);
        z-index: 999;
    }
    .navbar-nav > li> .dropdown-menu.categories{
        width: 1100px;
    }
    .navbar-nav > li> .dropdown-menu.contact{
        width: 770px;
    }
    .navbar-nav > li> .dropdown-menu.categories{
        margin-top: 6%;
        height: 540px;
        transform: translateX(-491px);
    }
    .navbar-nav > li> .dropdown-menu.contact{
        margin-top: 7%;
        height: 141px;
        transform: translateX(-77px);
    }
    .navbar-nav > li> .dropdown-menu > li.col-md-12{
        width: 78%;
    }
    .navbar-nav li:last-child{
        margin-left: 11.5%;
    }
    .nav-form  .form-control{
        width: 99%;
        /* margin-left: 12.5%; */
    }
    ul.top-nav li.pull-right{
        margin-top: 2.5%;
    }
    ul.top-nav .navbar-brand{
        margin-left: 20%;
    }
}
@media screen and (min-width:1200px) and (max-width: 1600px){    
    .navbar-nav{
        margin-left: 4%;
    }
}
@media screen and (min-width: 1600px){    
    .navbar-nav{
        margin-left: 9%;
    }
}
.navbar-nav > li> .dropdown-menu{
    background-color: #f8f8f8;
}
/***** index.php ******/

.info-block h4{
    color: rgb(0,0,0);
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 2%;
}
.info-block .info-block-row p, .info-block .info-block-row p a{
    font-size: 1.1em;
    color: rgb(0,0,0,0.7);
    margin-bottom: 5%;
    text-decoration: none;
}
.info-block .fa{
    font-size: 3em;
    color: #f8f8f8;
    transition: all 1s ease-in-out;
    padding: 7px;
}
.info-block strong{
    color: #e96d07;
    font-weight: 700;
    font-size: 1.1em;
}
.info-block-row{
    padding: 3px;
}
.icon-home:hover{
   -ms-transform:rotateZ(360deg); /* IE 9 */
  -webkit-transform: rotateZ(360deg); /* Safari */
  transform: rotateZ(360deg);
   cursor: pointer;
}


/************************   REPORT TEXT     *****************************/

.back-home{
    color:white;
    text-decoration:none;
    font-weight:700;
}
a.btn-home{
    border-radius: 0px;
    font-size:1em;
    background: rgb(233, 97, 7);
    text-transform: uppercase;
    padding: 10px;
    color: #f9f9f9;
    border: 2px solid #ccc;
}
a.btn-home:hover{
    background: #efefef;
    border:2px solid rgb(233, 97, 7);
    color: rgb(233, 97, 7);
    font-weight: 700;
    padding: 10px;
}
.report-text{
    text-align: center;
    color: maroon;
    font-size:1.5em;
    text-transform: capitalize;
}
.help-text{
    color:#000;
    font-size:1.2em;
    text-transform: uppercase;
    font-weight: 700;
}
a.report-link{
    text-decoration: none;
    color: #090d2b;
    font-weight: 600;
    padding: 10px;
}
.rep-title{
    font-size:1.15em;
    font-weight: 700;
}
.rep-title a{
    text-decoration:none;
    color:#000;
    line-height: 1.8;
}
.rep-desc{
    font-size: 1.15em;
    line-height: 1.8;
}
.report-content{
    padding:3px;
    color:#000;
    display: inline-block
}
.report-content h5{
    font-size: 16px;
}
.report-block-even{
    background-color: #dbdbdb;
}
.report-block-odd{
    background-color: #e0e5e5;
}
.report-details-block{
    margin-bottom: 10px;
}
.report-details-block:hover{    
    box-shadow: 1px 0px 6px 5px rgb(0, 0, 0, 0.5);
}
.report-details-block .row {
    padding: 10px;
}
.report-details-block .row:hover{
    cursor: pointer;
}
.report-details-block .row::after {
    transition: all ease-in-out .5s;
    background: none repeat scroll 0 0 rgb(233, 97, 7);
    content: "";
    display: block;
    height: 3px;
    transform : translateY(11px);
    width: 0;
}
.report-details-block .row:hover::after {
    width: 100%;
}
.btn-filter{
    color: #090d2b;
    font-weight: 700;
    font-size: 1.25em;
    width:100%;
    margin-top: 20px;
    text-transform: uppercase;
}
button.btn-search-filter,button.btn-search-filter:hover,button.btn-search-filter:focus{    
    font-size: 16px;
    width: 100px;
    text-transform: uppercase;
    color: #f8f8f8;
    border: none;
    /* border-radius: 0px; */
    padding: 8px;
    margin-right: 5px;
}
button.btn-apply{
    background-color: rgb(233 144 10);
}
button.btn-clear{
    background-color: #c72727;
}
.plus{
    color: #000;
    font-size: 1.1em;
    cursor: pointer;
    padding: 5px;
}
button.btn-info{
    background: #1e6f98;
    border:none;
    border-radius: 2px;
    color:#FFFFFF;
    font-size: 1.2em;
    min-height:45px;
    max-height: 65px;
    width:100%;
    margin-top: 20px;
}



/***************************   FOOTER     *************************************/

a.btn-details,.btn-details:hover,.btn-details:focus{
    /* border-radius: 0px; */
    border: none;
    padding: 10px;
    font-size:1em;
    background: rgb(233, 97, 7);
    color: #f9f9f9;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 650;
}


/********* TOP NAV SOCIAL LINKS *********/

div.top-div{
    /* background: rgb(0,0,0,0.85); */
    height: 40px;
    width: 100%;
    /* border-bottom: 0.5px solid rgb(0,0,0,0.2); */
}
/* ul.top-nav{
    width: 80%;
    margin-left: 3.5%;
} */
ul.top-nav,ul.nav-social-link{
    padding-left: 0px;
}
ul.top-nav li{
    list-style-type: none;
}
ul.top-nav .navbar-brand{
    height: auto;
    padding: 0px;
}

ul.top-nav > li > a{
    float:left;
    margin: 10px 10px 0px 10px;
    /* padding: 10px; */
    font-size: 1em;
    color: #000;
}
ul.top-nav > li > a:hover{
    color: #ce5a16;
    cursor: pointer;
    text-decoration: none;
}
.nav-social-link{
    margin-right: 3%;
    float: left;
}
.nav-social-link li a{
    display:block;
    text-align:center;
    font-size:1.15em;
    margin-top: 5px;
    color:#000;
    background: none;
    transition: 0.5s ease-in-out all;
}
.nav-social-link li{
    float: left;
    height: 30px;
    width: 30px;
    margin-left: 9px;
    border: 1px solid #ccc;
    border-radius: 100%;
}
.nav-social-link li a i{
    font-size: 1.26em;
    margin-top: 5px;
}
.nav-social-link li a:hover, .nav-social-link li a:focus{
    text-decoration:none;
    color: #ce5a16;
}
.nav-social-link li:hover{
    border-color: #ce5a16;
}


/********* SOCIAL LINKS ******/

.social-link,.payment-link{
    padding:0px 0;
    display:block;
    overflow:hidden;
    list-style-type:none;
    margin-left: -35px;
}
.payment-link li{
    display: inline-block;
    margin-left: 5px;
}
.payment-link {
    transform: translate(0,-25px);
}
.payment-link .razorpay {
    transform: translate(0,20px);
}

.social-link li{
    float:left;
    margin-left:9px;
}
.social-link li a{
    display:block;
    text-align:center;
    line-height:25px;
    font-size:2em;
    color:#ccc;
    margin-top: 7px;
    transition: 0.5s ease-in-out all;
}
.social-link li a i,.nav-social-link li a i{
    font-size: 1.15em;
    margin-top: 3px;
}
.social-link li a:hover, .social-link li a:focus{
    text-decoration:none;
}
.twitter a:hover {
    /* background: #1da1f2; */
    color:#1da1f2;
}
.facebook a:hover {
    /* background: #3b5998; */
    color:#3b5998;
}
.linkedin a:hover {
    /* background:#0077B5;  */
    color:#032f64;
}

.rss a:hover {
    /* background: goldenrod; */
    color:#dec40a;
}
.youtube a:hover {
    /* background: red; */
    color:#f00;
}
.blogger a:hover {
    /* background: orange; */
    color: #dec40a;
}

/******* FOOTER MENU *******/

.footer-menu-list h4,.footer-contact h4{
    color: #fff;
    font-size: 1.2em;
}
.footer-menu-list > ul > li >a,.footer-menu-list + strong,p.copyright{
    color: #eae1e1;
    font-size: 1.05em;
    text-decoration: none;
    letter-spacing: 0.2px;
    line-height: 25px;
    padding: 5px;
}
p.copyright{
    padding: 0px;
}
.footer-menu-list > ul > li > a > strong{
    color: #000;
    margin-left: -15px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-menu-list > ul.contact-list > li > a{
    margin-bottom: 10px;
}
.footer-menu-list > ul > li >a:hover{
    color: #FFF;
}
.footer-menu-list > ul > li >a.active{
    color: #e8860b;
    font-weight: 700;
}

.footer-menu-list > ul.list > li{
    list-style-type: none;
    color: darkgray;
    padding: 3px;
    margin-left: -35px;
}
p.copyright > span > a{
    color: darkgray;
}
h5.disclaimer{
    color: darkgrey;
    line-height: 21px;
    
}
h5.disclaimer > b{
    text-transform: uppercase;
    color: red;
}
h5.disclaimer > span{
    font-style: italic;
}

/*************************/

.footer-fixed-block{
    position: fixed;
    background: #efefef;
    bottom: 0px;
    margin-top: 40px;
    width: 100%;
    z-index: 9999;
}
.footer-fixed-block  h3{    
    bottom: 0;
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0.5% 1.5%;
}
.footer-fixed-block  button{
    padding: 5px;
    margin: 1px 4px 4px 4px;
    color: #fff;
    font-weight: 500;
    border: 0px;
}
.btn-accept{
    background: #090d2b;
    border-radius: 0px;
}
.btn-dismiss,.btn-close{
    background: #efc707;
    border-radius: 0px;
}
.footer-fixed-block  button.btn-dismiss{
    height: 35px;
    width: 35px;;
}

/******** REPORT SAMPLE NOTE *******/
p.form-note{
    font-size: 1em;
    font-weight: 700;
    margin-top: 10px;
}
p.form-note a{
    color: #e20707;
    text-transform: capitalize;
    text-decoration: none;
}

/********* NAVBAR  ********/

.search-div{
    /* background-color: #ccc; */
    display: none;
}
.nav-form{
    border-radius: 0px;
}
.nav-form  .form-control{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #efefef;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #333;
    border-radius: 25px 0px 0px 25px;
    border-right: 0.5px solid #333;
    /* box-shadow: 1px 0px 4px 2px rgb(233, 97, 7); */
}
.input-group-btn > .btn-search,.input-group-btn > .btn-search:hover,.input-group-btn > .btn-search:focus{
    width: auto;
    text-transform: uppercase;
    background: #e98c00;
    color: #fff;
    border: 1px solid #333;
    border-left: 0.5px solid #333;
    border-radius: 0px 25px 25px 0px;
    /* box-shadow: 1px 0px 4px 2px #e98c00; */
}
.btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
    color: #fff;
    border: none;
    background: rgb(233, 97, 7);
    /* box-shadow: 1px 0px 4px 2px rgb(233 97 7) */
}
/* .nav-form .input-group{    
    background: #efefef;
} */
.home-search-div .input-group{
    background: transparent;
    margin-top: 0;
    margin-bottom: 7%;
    z-index: 1;
}
.nav-form .form-control::placeholder{
    color: #333;
}
.report-input.form-control{
    text-transform: capitalize;
}
.dropdown-menu .col-md-3:hover{
    background-color: #eee;
}

/*******************/

a.category-title,a.press-title{
    font-size: 1em;
    color:#000;
    margin-top: 2%;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
a.category-title:hover,a.press-title:hover{
    font-weight: 700;
}
.alert.alert-danger{
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 650;
    line-height: 24px;
}

/*********** CONTACT BLOCK*************/

div.contact-block{
    height: 100%;
    width: 100%;
    background: url('../images/bg-map.png') center center no-repeat #090d2b;
    color: #fff;
    /* margin-top: 5%; */
}


/************** Accordion ***********************/

.accordion {
    /* background-color: #eee; */
    font-size: 1.4em;
    color: rgb(0,0,0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;                
    outline: none;
    transition: 0.4s;
}
.accordion.active, .accordion:hover {
    background: #4ea7a7;
}
.accordion:after {
    content: '\002B';
    color: rgb(0,0,0);
    font-weight: 700;
    margin-left: 20%;
}
.accordion.active:after {
    content: "\2212";
}
.panel-accordion {
    padding: 0 18px;
    /* max-height: 0; */
    overflow: scroll;
    transition: max-height 0.2s ease-out;
} 

/************** Static Pages Styling ***********************/

@media screen and (min-width:767px) { 
    .content-block h2{
        font-size: 3vw;
    }
    .content-block img, .press-desc img{
        margin: 1% 5% 2.5% 0%;
        width: 100%;
    }     
    h3.report-heading{
        margin-top:5%;
        font-size: 3vw;
    }     
    h3.why-join.report-heading{
        margin-top:2%;
    }
    h3.report-heading+img{
        min-height: 180px;
        max-height: 200px;
        margin-bottom: 15%;
    }
    h3.report-heading+.contact-logo{
        margin-bottom: 20%;
    }
    .content-block{
        padding: 40px;
    }
    .career-block blockquote p{
        font-size: 3vw;
        line-height: 50px;
    }
    .category-text{
        width: 50%;
        float: left;
        height: 330px;
        background: #ebebeb;
        color: #000;
    }
    .img-block{
        width: 50%;
        float: left;
    }
    .img-block img{
        width: 100%;
    }
    .category-text h1{
        line-height: 2;
        font-size: 3vw;
        font-weight: 900;
        text-shadow: 1px 1px rgb(0, 0, 0, 0.8);
    }
    .no-data .alert.alert-info h2{
        margin: 5% 2%;
    }
    /* .no-data .alert.alert-info h2 span{
        transform: translateY(-10px);
    }  */
    ul.sitemap-category-list ,ul.sitemap-category-list a{
        font-size: 1.1em;  
        padding: 15px 10px;  
    }
    .search-block p{
        font-size: 1.5em;
        line-height: 45px;
        text-transform: uppercase;
    }
    .report-content.press-content span{
        font-size: 1em;
        text-transform: uppercase;
    }
    .rep-desc.press-desc{
        line-height: 1.8;
    }
    .press-desc img:hover{
        transform: scale(1.2,1.2);
    }
    .page-banner + .container-fluid{
        box-shadow: 1px 0px 15px 2px #ccc;
    }
    .press-desc{
        line-height: 1.8;
        padding: 15px;
    }
    .press-block .pr-title a{
        font-size: 1.1em;
        line-height: 2;
    }
    h1.thank-you{
        font-size: 3.5em;
    }
    p.lead{
        font-size: 1.15em;
    }
    .info-block-row.career-info-block{
        padding: 30px;
        margin: 10px 15px;
    }
    .btn-navbar-close,.btn-navbar-close:hover,.btn-navbar-close:focus{
        width: auto;
    }
    .nav-social-link{
        margin-top: 2.5%;
    }
}
@media screen and (max-width:767px) { 
    .content-block h2{
        font-size: 2.5em;
        text-align: center;
    }
    h3.report-heading{
        font-size: 2em;
        text-align: center;
    } 
    .career-block{
        background-attachment: scroll;
    }
    .career-block blockquote p{
        font-size: 1.2em;
        line-height: 35px;
    }
    .category-container > .col-md-3{
        margin-bottom: -15%;
    }
    
    .category-details-row img{
        width: 100%; 
    }
    .category-text h1{
        line-height: 1.2;
        padding: 5px;
        font-size: 2em;
        text-align: center;
    }
    .category-text{ 
        position: absolute;
        width: 100%;
        top: 36%;
        color: #fff;
        background-color: rgb(0, 0, 0, 0.6);       
    }
    .no-data .alert.alert-info h2{
        margin: 12% 2%;
    }
    h2.text-wrong{
        font-size: 1.2em;
    } 
    h2.payment-failed{
        font-size: 1.4em;
    }
    h1.thank-you{
        font-size: 2.5em;
    }
    .sitemap-block .col-md-4{
        margin-bottom: -22px;
    }
    ul.sitemap-category-list ,ul.sitemap-category-list a{
        padding: 5px;
    } 
    ul.sitemap-category-list ,ul.sitemap-category-list a{
        font-size: 1.05em;    
    }
    .search-block p{
        font-size: 1.2em;
        line-height: 35px;
    }
    .report-content.press-content{
        display: block;
        text-align: center;
    }
    .report-content.press-content span{
        font-size: 1.25em;
        text-transform: capitalize;
        line-height: 2;
    }
    .press-block .pr-title a{
        font-size: 1.3em;
        line-height: 1.7;
    }
    /* .btn-view{
        transform: translate(10px,-12px);
    } */
    .rep-desc.press-desc{
        line-height: 1.5;
    }
    .press-category-block > h3 > strong{
        margin-bottom: 4%;
        display: inline-block;
    }  
    .content-block .row{
        padding: 10px;
    }
    .page-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .info-block.static-block{
        margin-bottom: 0;
    }
    .info-block-row{
        margin-bottom: 5%;
    }
    .info-block .info-block-row p{
        line-height: 1.65;
    }
    .report-heading + .logo{
        height: 130px;
    }
    p.lead{
        font-size: 1.2em;
        line-height: 2;
    }
    
}
/*********** PAYMENTS ***********/

.payment-mode.content-block{
    margin-bottom: 2%;
}
.payment-mode ul.list-item li{
    line-height: 2;
    text-transform: capitalize;        
}
.return-policy.content-block h4{
    line-height: 2;
    font-size: 1.3em;
}
h1.thank-you{
    color: #087b08;
    font-weight: 700;
    margin-bottom: 20px;
}
p.lead+hr{
    border: 0px;
    border-bottom: 1px dashed rgb(0, 0, 0, 0.4);
}    
h2.payment-failed{                
    color: #f00;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px;
}
/**************** SITEMAP ***************/ 

h3.sitemap-content a{
    color: rgb(0, 0, 0, 0.8);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
h3.sitemap-content a:hover{
    color: #ce5a16;
}
h3.sitemap-content{
    font-size: 1.25em;
}
ul.sitemap-category-list ,ul.sitemap-category-list a{
    color: #090d2b;
    line-height: 30px;
    list-style-type: disc;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
ul.sitemap-category-list a:hover{
    color: #ce5a16;
    font-weight: 600;
}

/*************** ABOUT, CONTACT ***************/

.home-contact-block{
    background: #f8f8f8;
} 
.info-block.static-block .info-block-row h4{
    margin-bottom: 3%;
}
.report-heading+p{
    color: #f8f8f8;
    font-size: 1.2em;
    text-align: center;
}
h3.report-heading{
    color: #000;   
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
}
.content-block:hover, .vision-block:hover{
    box-shadow: 1px 0px 15px 6px #ccc;
    cursor: pointer;
}
.content-block.col-content:hover{
    box-shadow: none;
    cursor: auto;
}
.content-block,.vision-block{
    margin: 2% 1% 5% 1%;
}
.vision-block img{
    margin: 2% auto;
    width: auto;
    height: 250px;
}
.vision-block .about-para{
    margin-top:10%;
}
.content-block p,.vision-block p{
    font-size: 1.2em;
    padding: 5px;
    line-height: 1.8;
    color: inherit;
}
.page-banner + .container-fluid{
    margin: 2% 1%;
}
.about-para{
    margin-bottom: 3%;
}
.about-para img{
    width: auto;
    height: 200px;
    float: left;
}
.content-block h2{
    margin-bottom: 3%;
}
h2.about-para-h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 650;
}
h2.text-wrong{                
    color: #f00;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px;
}
/*********** TNC ***********/

p.terms strong{
    color: #000;
    font-size: 1.3em;
    line-height: 26px;
    text-transform: capitalize;
}
.content-block p.terms{
    margin: 0 0 -10px;
}
.content-block h4{
    padding: 5px;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:grayscale;
    line-height: 26px;
    font-size: 1.15em;
}
.content-block h4 a,.content-block h4 a:hover,.content-block h4 a:focus{
    color: #ce5a16;
    text-decoration: none;
    font-weight: 600;
}
ul.list-item li{
    list-style-type: disc;
    font-size: 1.15em;
    line-height: 25px;
    font-weight: normal;
}

p.contact-link > a,p.contact-link > a:hover{
    text-decoration: none;
    padding: 3px;
    color: #191970;
    font-weight: 650;
}
.payment-failed{
    color: #f00;
    text-transform: uppercase;
}
p.lead{
    font-size: 1.2em;
    /* text-transform: capitalize; */
    font-weight: 550;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-block-shadow .info-block-row {
    box-shadow: none;
}
button.btn-submit,button.btn-submit:hover,button.btn-submit:focus{
    width:150px;
    border-radius: 0px;
    color: #efefef;
    font-size:1.2em;
    background: rgb(233, 97, 7);
    font-weight: 700;
}
span.panel-title{
    color:#000;
    font-weight:700;
    font-size:20px;
}
/*************** CAREERS *****************/

.info-block-row.career-info-block h4{
    line-height: 2;
    font-weight: 700;
    font-size: 1.6em;
    text-transform: uppercase;
    color: rgb(233, 97, 7);
}
.career-info-block .row{
    margin-bottom: 2%;
    /* border-bottom: 1px solid #ccc; */
}
/* .career-info-block .row:hover{
    border-bottom: 0px;
}
.career-info-block .row::after {
    transition: all ease-in-out .7s;
    background: none repeat scroll 0 0 rgb(233, 97, 7);
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.career-info-block .row:hover::after {
    width: 100%;
} */
.career-block blockquote{
    text-align: center;
    border-left: 5px solid rgb(233, 97, 7);
}
.career-block blockquote p{
    color: #fff;
}
.career-block blockquote footer{
    color: #efefef;
    font-size: 2vw;
} 
.career-block .alert-success.career-success{
    font-size: 1.25em;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 650;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
.job-text{
    padding: 12px;
    color: #efefef;
} 
.job-text h4{
    font-size: 1.4em;
}
.career-block .career-content{
    background-color: rgb(0, 0, 0, 0.5);
}
.no-jobs{
    padding : 15px;
    font-size: 1.2em;
    background: #f00;
}
.career-block{
    background-color: rgb(0, 0, 0, 0.4);
    background-image: url("../../assets/images/careers.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/************* CATEGORIES  ***************/

.category-container > .col-md-3{
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.category-container > .col-md-3 > img{
    height: 200px;
    width : 100%;
    margin : 15px 0px;
    opacity : 0.8;
    display : block;
    position: relative;
    /* z-index: 99999; */
    border : 2px solid #090d2b;
    border-radius : 5px;
    transition: all 0.5s ease-in-out;
}
.category-container > .col-md-3  a{
    text-decoration: none;
    color: #fff;
    /* padding: 5px; */
    margin-top: 1px;
    cursor: pointer;
    display: block;
    background: rgb(233, 97, 7);
    /* z-index: 99999; */
}
.abs-text{
    transform: translate(0%,-127px);
    background: rgb(0,0,0,0.5);
    position: sticky;
    margin: 0px 5px;
    font-weight: 700;
    /* z-index: 999999; */
    overflow: visible;
    font-size: 1.15em;
    line-height: 2;
}
.category-container > .col-md-3  span{
    color: #fff;
    width: 100%;
}    
.category-container > .col-md-3:hover img {
    transform: scale(0);
}
.category-container > .col-md-3:hover .abs-text {
    background: rgb(233, 97, 7);
} 
.category-container > .col-md-3:hover a {
    background: rgb(0, 0, 0, 0.5);
} 

/********* CATEGORY DETAILS*******/
.category-details-row img{
    /* width: 100%;         */
    height: 330px;
    background-size: cover;
}
.category-text{
    text-transform: uppercase;
}
.category-text h1{
    text-align: center;
}
.no-data .alert.alert-info{
    margin: 5% 0%;
    border-radius: 0px;
}
.no-data .alert.alert-info h2{
    color: rgb(233, 97, 7);
    text-transform: uppercase;
}
.no-data .alert.alert-info h3{
    color: rgb(233, 97, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
}
.no-data .alert.alert-info h2 span{
    display: inline-flex;
}
.filter-block{
    background-color: #cfcec9;
}
.panel-info{
    padding: 15px;
}
.panel-accordion{
    padding: 0px;
} 
.panel-info div.panel-body{
    color: #000;
    border-bottom: 1px solid rgb(0,0,0,0.2);
}         

/*************** SEARCH FORM AND RESULT***************/

.search-block{        
    background-color: rgb(0, 0, 0, 0.2);
}
.search-block p{
    color: #d80707;
    font-weight: 550;
    padding: 10px;
    margin-bottom: 0px;
}
.search-form.page-contact-block .content-block-shadow .panel-body{
    margin: 0px 15px;
}

a.btn-reach-us{
    background: midnightblue;
}
a.btn-browse{
    background: #ce5a16;
}
.btn-result,.btn-result:hover,.btn-result:focus{
    width: auto;
    color: #f8f8f8;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0px;
}
.alert.alert-info.alert-search h4{
    color: rgb(0, 0, 0, 0.8);
    font-weight: 700;
}
#filterForm div.panel-body{
    color: #000;
    border-bottom: 1px solid rgb(0,0,0,0.2);
}

/************ PRESS ***********/

/* .calendar{
    border: 2px solid #fff;
    width: 95px;
    height: 70px;
    border-radius: 12px;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 5px;
} */
.calendar-top{
    height: 28px;
    background: #090d2b;
    border-radius: 12px 12px 0px 0px;
    padding: 5px;

}
.calendar-body{
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    border-color: #090d2b;
    height:55px; 
    border-radius:  0px 0px 12px 12px;
    background: lightgrey;
    padding: 7px;        
}
.report-details-block.press-block{
    border-bottom: 1px dashed rgb(0,0,0,0.6);
}

.report-details-block.press-block:hover{
    border-bottom: 0px;
}
.press-block .pr-title a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}
.report-content span.category-name{
    color: rgb(233, 97, 7);
    font-weight: 700;
} 
.press-info-block .info-block-row p{
    margin-bottom: 8%;
    line-height: 2;
}
.press-info-block h3.report-heading{
    margin-bottom: 10%;
}
.press-desc{
    text-align:justify;
    font-size:1.2em;
    width: 100%;
    z-index: 999999;
}
.press-desc img{
    width: auto;
    height: 350px;
    float: left;
    transition: all 0.5s ease-in-out;
}
.press-desc blockquote{
    font-style: italic;
    font-weight: 650;
}
.press-category-block > h3 > strong{
    color: rgb(233, 97, 7);
    font-size: 1em;
    text-transform: uppercase;
}   
.press-category-block > h3{
    font-size: 1.2em;
    margin-top: 1%;
}
.press-title-block{        
    background-color: #e0e5e5;
}
.press-title-block p{
    color: rgb(0, 0, 0, 0.8);
    font-weight: 650;
    padding: 20px;
    margin-bottom: 0px;
}
