button.helper-item{
    border-radius: 0px;
    margin-bottom: 20px;
    display: inline-table;
}
button.helper-item a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.alert.alert-form{
    font-weight: 900;
    border: 2px solid #3c763d;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border-radius: 25px;
    text-align: center;
}
.alert.alert-success.alert-form{
    border: 2px solid #3c763d;
}
.alert.alert-danger.alert-form{
    border: 2px solid #a94442;
}
span.count{
    font-size: 20px;
    font-weight: 500;
}
.jumbotron .alert{
    margin: 15px;
}
details summary{
    cursor: pointer;
}
mark b{
    text-transform: lowercase;
    font-style: italic;
}
details ul li{
    list-style-type: none;
    line-height: 1.8;
    padding: 5px;
}
@media screen and (min-width: 767px){     
    button.helper-item{
        font-size: 1em;
        margin-left: 20px;
    }  
    .form-horizontal .form-group{
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-container{
        margin-left: 3%;
    }
    .table-responsive{
        margin-left: 2%;
        clear: left;
    }
    .form-nav-search{
        margin-left: 2%;
        margin-top: 1.5%;
        width: 60%;
        display: inline-block;
    }
    .per-page-form{
        margin-left: 2%;
        transform: translateY(-30px);
        width: 8%;
        display: inline-block;
    }
    .pagination{
        margin-left: 2%;
        float: left;
    }
    .table{
        width: 100%;
        clear: left;
    }
    .form-container form{
        margin:3% 0% 2% 1%;
    } 
    .alert-success.alert-form{
        margin-bottom: 14%;
    }
    /* .form-container{
        margin-bottom : 2%;
    }     */
    /* .progress{
        margin-left: 15%;
    } */
    .btn-upload,.btn-upload:hover,.btn-upload:focus{
        font-size: 1.3em;
        width: 150px;
    }
}
@media screen and (max-width: 767px){
    /*.profile-block .col-md-8{
        margin-top: 25%;
    }*/  
    button.helper-item{
        font-size: 0.9em;
        margin-left: 10px;
    }
    .form-container form{
        width: 90%;
        margin-left: 15px;
        margin-bottom: 60px;
    }
    .btn-upload,.btn-upload:hover,.btn-upload:focus{
        font-size: 1.1em;
        width: 135px;
        margin-top: 20px;
    }
}
.form-nav-search .form-control,button.btn-search,.per-page-form{    
    border-color: #0465ac;
    border-width: 2px;
    height:40px;
    border-radius:0px;
}
.pagination-form{
    margin-bottom: 30px;
}

/*********************************  UPLOAD PROGRESS   ****************************************/

.progress{
  height: 40px;
}
.progress-bar{
    padding: 10px;
    font-size: 15px;
}
.progress-title{
    text-transform: uppercase;
    color: #f00;
    line-height: 2;
    font-size: 1.5em;
    padding: 20px;
    text-shadow: 0.5px 0.6px #777;
    text-align: center;
}
.progress-modal .modal-header{
    border-bottom: 0px;
}
.progress-modal .modal-footer{
    border-top: 0px;
}
.hidden{
    display: none;
}
.content{
    cursor: pointer;
    text-transform: uppercase;
    line-height: 2;
    font-weight: 700;
}
.text-warning.content{
    color: #dc470d;
}
.progress-modal .btn-close{
    width: 100px;
    background: #584545;
    color: #fff;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.6px;
    font-size: 14px;
}
span.progress-text{
    text-align: center;
}
.bar { 
  background-color: #B4F5B4; 
  width:0%; 
  height:40px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:10px; 
  left:48%; 
}

/*************************************************************************/

a.btn-link,a.btn-link:focus{    
    font-size: 0.9em;
    font-weight: 700;;
    text-decoration: none;
}
a.checkout-link{
    color: #dc470d;
    text-transform: uppercase;
}
a.btn-inactive{
    color: #dc470d;
}
a.btn-active{
    color: #479143;
}
.form-container{
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 1px 1px #f3f3f3;
    background-color: #fff;
}
.form-container h3{
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}
.form-container h3.alert.alert-success{
    font-size: 1.2em;
    line-height: 2;
    text-transform: capitalize;
    font-weight: 600;
}
.form-container h3+span{
    margin-top: 15px;
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 600;
}
label.control-label{
    text-transform: uppercase;
    font-size: 1em;
    color: #1c3c51;
}
.btn-upload,.btn-upload:hover,.btn-upload:focus{
    background: #dfb924;
    text-transform: uppercase;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin-left: 2%;
}
.btn-update,.btn-update:hover,.btn-update:focus{
    background: #088011;
    color: #fff;
}
span.star{
    color: #b1051d;
}
.form-control{
    border-radius: 0px;
    height: 40px;
}
tr th{
    text-align: center;
}
span.fa-eye{
    margin-left: 92%;
    transform: translateY(-28px);
    font-size: 1.3em;
}

/* CHECKBOX SWITCH TOGGLE */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}  
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}  
input:checked + .slider {
	background-color: #2196F3;
}  
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}  
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}  
  /* Rounded sliders */
.slider.round {
	border-radius: 24px;
}  
.slider.round:before {
	border-radius: 50%;
}